.App3 {
    text-align: center;
    margin-top: 10vh;
  }
  
  .question-card {
    /* Center the div  */
    margin:  auto;
  
    /* Dimensions  */
   
  
    /* Visual  */
    background-color: rgba(0, 0, 0, 0.096);
    padding: 16px;
    border-radius: 16px;
    color: rgb(197, 196, 196);
    box-shadow: 2px 4px 18px rgba(0, 0, 0, 0.459);
    margin-bottom: 30rem;
    border: 1px solid rgba(236, 236, 181, 0.651);

  }
  
  .Hi {
    list-style: none;
  }
  
  .hello {
    margin-top: 8px;
    background-color: rgba(76, 14, 133, 0.212);
    padding: 16px;
    border-radius: 20px;
    font-size: 20px;
    max-width: 80%;
    margin-left: 10%;
    border: 1px solid rgba(255, 255, 0, 0.336);
    color:rgba(226, 219, 219, 0.808);
    
  }
  .hello:hover{
    background-color: rgba(41, 124, 201, 0.623);
    color:black;
    
  }
  
  .question-text {
    color: rgb(199, 146, 204);
    font-size: 35px;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* Final Results  */
  
  .final-results {
    /* Center the div  */
    
  
    /* Dimensions  */
   
   
  
    /* Visual  */
    background-color: rgba(87, 127, 153, 0.411);
    padding: 16px;
    border-radius: 16px;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    margin-bottom: 11rem;
    color: rgba(223, 195, 33, 0.836);
    
  }
  
  .button {
    background-color: rgba(187, 153, 218, 0.712); /* Green */
    border: none;
    color: rgb(32, 32, 32);
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    
  }
  .button:hover{
    background-color: rgba(0, 128, 0, 0.733);
    
    color:black;
  }
  
  .video-responsive {
   
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    z-index: 0;
    margin-bottom: -22rem;
    margin-top: 7rem;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 50%;
    width: 50%;
    position: absolute;
    margin-left: 25%;
    z-index: -1;
  }
  .Welcome{
    font-size: 5rem;
    
    border-radius: 18px;
  }
  
  .below{
    margin-top: -2rem;
    margin-bottom: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .par{
    font-size: large;
    margin-bottom: 10rem;
  }
  
  
  
  
  .question-card2 {
    /* Center the div  */
    margin: 0 auto;
    margin-top: 10vh;
    margin-bottom: 2rem;
    text-align: center;
  
    /* Dimensions  */
    width: 90%; /* Can be in percentage also. */
    height: auto;
  
    /* Visual  */
    /* background-color: rgba(48, 48, 48, 0.103); */
    /* padding: 16px;
    border-radius: 16px; */
    
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px; */
    background: transparent;
  }
  .qustion1{
    color:rgb(175, 175, 15);
  }

  #sex_1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 7vh;
    margin-left: 17%;
  }
  .again{
    margin-top: 10rem;
    margin-bottom:7rem
  }

#JustForZindex{
    z-index: 1;
}


 